.moovee {
  main {
    .suggestions {
      h1.heading {
        color: white;
        text-align: center;
        font-size: 1.5rem;
      }

      ul.list {
        padding: 1rem;
        margin: 1rem;
        background-color: rgba(white, 0.1);
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        gap: 1vh 1vw;
        border-radius: 1rem;

        span {
          padding: 1vh 1vw;
          line-height: 1;
          cursor: pointer;
          position: relative;
          user-select: none;
          &:hover::before {
            content: '';
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            z-index: 1;
            background-color: white;
            border: none;
            opacity: 0.3;
          }
          &:active::before {
            content: '';
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            z-index: 1;
            background-color: black;
            border: none;
            opacity: 0.3;
          }
        }
      }
    }
  }
}
