.moovee {
  main {
    div.results {
      display: flex;
      flex-flow: row wrap;
      width: 100%;
      align-items: flex-start;

      div.result-container {
        text-align: left;
        width: 100%;
        height: calc(width / 0.77);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        transition: all 0.5s linear;
        border-radius: 1rem;

        .result {
          width: 100%;
          height: 100%;

          button.poster {
            line-height: 0;
            padding: 0;
            background-color: black;
            height: 100%;

            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 1rem;
            position: relative;
            img {
              border-radius: 1rem;
              width: 100%;
              max-height: calc(width / 0.77);
              object-fit: cover;
              object-position: center;
            }
            &:hover::before {
              content: '';
              border-radius: 1rem;
              position: absolute;
              left: 0;
              right: 0;
              top: 0;
              bottom: 0;
              background-color: rgba(white, 0.2);
            }
            &:active::before {
              content: '';
              border-radius: 1rem;
              position: absolute;
              left: 0;
              right: 0;
              top: 0;
              bottom: 0;
              background-color: rgba(black, 0.2);
            }
          }

          div.details {
            display: flex;
            background-color: rgb(46, 46, 46);
            flex-direction: column;
            align-items: center;
            gap: 1vh;

            background-color: none;

            width: 300px;
            border-radius: 1rem;

            button.trailer-btn {
              height: 100%;
              font-size: 16px;
              line-height: unset;
              display: flex;
              align-items: flex-start;
              justify-content: center;
              border-radius: 0;
              padding: 4px 8px 4px 16px;
            }
          }
        }

        &.empty {
          background: none;
          border-radius: 0;

          h5 {
            color: white;
            font-size: 1.2rem;

            svg {
              color: pink;
              display: inline-block;
              margin-bottom: 1px;
              font-size: 0.8rem;
            }
          }
        }
      }

      @media (min-width: 340px) {
        div.result-container {
          width: calc(100% / 2);
        }
      }

      @media (min-width: 520px) {
        div.result-container {
          width: calc(100% / 3);
        }
      }

      @media (min-width: 700px) {
        div.result-container {
          width: calc(100% / 4);
        }
      }
    }
  }
}
