.moovee {
  main {
    flex: 1 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100%;

    .suggestions {
      h1.heading {
        color: white;
        text-align: center;
        font-size: 1.5rem;
      }

      ul.list {
        padding: 1rem;
        margin: 1rem;
        background-color: rgba(white, 0.1);
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        gap: 1vh 1vw;
        border-radius: 1rem;

        span {
          padding: 1vh 1vw;
          line-height: 1;
          cursor: pointer;
          position: relative;
          user-select: none;
          &:hover::before {
            content: '';
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            z-index: 1;
            background-color: white;
            border: none;
            opacity: 0.3;
          }
          &:active::before {
            content: '';
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            z-index: 1;
            background-color: black;
            border: none;
            opacity: 0.3;
          }
        }
      }
    }

    .loading-spin {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    div.masonry-wrapper {
      width: 100%;
      div.masonry {
        gap: 4px !important;
        max-width: 1200px;

        @media (min-width: 1200px) {
          margin: auto;
        }

        div {
          div.result-container {
            text-align: left;
            width: 100%;
            max-width: 449px;
            display: flex;
            flex-direction: column;
            margin: 4px auto 0 auto;
            transition: all 0.5s linear;
            border-radius: 1rem;
            // background: radial-gradient(circle, #000000 0%, #ffffff1a 50%, #ffffff4d 100%);

            &.empty {
              background: none;
              border-radius: 0;

              h5 {
                color: white;
                font-size: 1.2rem;

                svg {
                  color: pink;
                  display: inline-block;
                  margin-bottom: 1px;
                  font-size: 0.8rem;
                }
              }
            }

            .result {
              display: flex;

              button.poster {
                line-height: 0;
                padding: 0;
                background-color: black;
                height: 100%;
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 1rem;
                position: relative;
                img {
                  border-radius: 1rem;
                  width: 100%;
                  object-fit: cover;
                  object-position: center;
                }
                &:hover::before {
                  content: '';
                  border-radius: 1rem;
                  position: absolute;
                  left: 0;
                  right: 0;
                  top: 0;
                  bottom: 0;
                  background-color: rgba(white, 0.2);
                }
                &:active::before {
                  content: '';
                  border-radius: 1rem;
                  position: absolute;
                  left: 0;
                  right: 0;
                  top: 0;
                  bottom: 0;
                  background-color: rgba(black, 0.2);
                }
              }

              button.trailer-btn {
                height: 100%;
                font-size: 16px;
                line-height: unset;
                display: flex;
                align-items: flex-start;
                justify-content: center;
                border-radius: 0;
                padding: 4px 8px 4px 16px;
              }

              div.details {
                display: flex;
                background-color: rgb(46, 46, 46);
                flex-direction: column;
                align-items: center;
                gap: 1vh;

                background-color: none;

                width: 100%;
                border-radius: 0;
                border-bottom-right-radius: 1rem;

                div.ant-collapse-item {
                  width: 100%;
                  height: 100%;
                  display: flex;
                  flex-direction: column;
                  justify-content: center;
                  background-color: hsl(0, 0%, 20%);

                  &.ant-collapse-item-active {
                    div.ant-collapse-header {
                      border-radius: 0;
                      flex-basis: content;
                    }
                  }

                  div.ant-collapse-header {
                    padding: 4px 8px;
                    position: relative;
                    font-size: 16px;

                    border-bottom-right-radius: 1rem;

                    flex-basis: 100%;

                    &:hover {
                      background-color: #dddddd;
                      border-bottom-right-radius: 1rem;
                    }

                    div.ant-collapse-expand-icon {
                      position: absolute;
                      top: 0;
                      color: #ed7d31;
                      height: 100%;
                      display: flex;
                      align-items: center;
                      justify-content: center;
                      svg {
                        font-size: 16px;
                      }
                    }
                    span.ant-collapse-header-text {
                      color: #ffffff;
                      height: 100%;

                      span {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        height: 100%;
                        &.five {
                          color: hsl(51, 100%, 50%);
                        }
                        &.four {
                          color: hsl(39, 100%, 50%);
                        }
                        &.three {
                          color: hsl(26, 100%, 50%);
                        }
                        &.two {
                          color: hsl(13, 100%, 50%);
                        }
                        &.one {
                          color: hsl(0, 100%, 50%);
                        }
                      }
                    }
                  }

                  div.ant-collapse-content {
                    flex: 1;
                    div.ant-collapse-content-box {
                      padding: 0;
                      text-align: center;
                      color: white;

                      .deets {
                        padding: 0 4px 4px 4px;
                        line-height: 1.15;
                        font-size: 12px;
                        display: flex;
                        flex-direction: column;
                        gap: 4px;
                        font-family: 'Montserrat', sans-serif;

                        .title {
                          margin: 16px 4px 8px 4px;

                          font-size: 16px;
                        }

                        .year {
                          font-size: 14px;
                        }

                        .esrb {
                          font-size: 14px;
                          font-weight: bold;
                        }

                        .plot {
                          font-size: 16px;
                        }

                        .actors,
                        .genre {
                          display: flex;
                          flex-flow: row wrap;
                          gap: 4px;
                          align-items: center;
                          justify-content: center;
                          span {
                            margin: 0;
                            font-family: inherit;
                            font-size: 14px;
                            border: none;
                            padding: 4px;
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
