/*   scroll bar */

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #000000;
  border-radius: 1rem;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  background: #faa;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(255, 125, 125);
}
