.moovee {
  header {
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: black;
    margin: 0 auto 8px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    gap: 4px;
    padding: 4px;

    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      margin: 0 -6px;
      box-shadow: 0px 0px 2vh 0px #ffaaaa;
    }

    .moovee-logo-button {
      width: fit-content !important;
      height: fit-content !important;
      padding: 0;
      border: 0;
      border-radius: 0;
      line-height: 0;
      img {
        margin-bottom: 0;
        height: 64px;
        margin-right: unset;
      }
    }

    p {
      margin: 0 0 20px 0;
      font-size: 1rem;
      font-family: cursive;
    }

    .movie-search {
      width: 100%;
    }
    .history-select {
      width: 100%;

      background-color: rgba(255, 255, 255, 0.8);
      border-radius: 1rem;
    }

    @media (min-width: 500px) {
      flex-direction: row;

      .movie-search {
        flex: 3;
      }
      .history-select {
        flex: 1;
      }
    }
  }
}
