div.moovee-modal {
  height: 100%;
  width: 100% !important;
  transform-origin: 0 !important;
  top: 0;
  overflow: hidden;
  padding: 0;
  margin: 0;

  div.ant-modal-content {
    width: 100%;
    display: flex;
    padding: 0;
    border-radius: 0;
    position: fixed;
    top: 0;
    bottom: 10vh;
    left: 0;
    right: 0;
    background: rgb(0, 0, 0);
    box-shadow: none;

    div.ant-modal-body {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      div.modal-spin {
        span.ant-spin-dot {
          i.ant-spin-dot-item {
            width: 10vmin;
            height: 10vmin;
            background: linear-gradient(to right, #ffffff, #ed7d31);
          }
        }

        &.finished {
          display: none;
        }
      }

      iframe.modal-iframe {
        border: none;
        &.finished {
          display: none;
        }
      }
    }

    div.ant-modal-footer {
      margin: 0;
      height: 0;
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      button {
        position: absolute;
        bottom: -10vh;
        right: 0;
        height: 10vh;
        font-size: max(16px, 4vmin);
        padding: 1vh 1vw;
        border-radius: 0;
        line-height: unset;

        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}
