.moovee {
  main {
    div.results {
      div.result-container {
        .result {
          div.details {
            button.trailer-btn {
              font-size: 16px;
              line-height: unset;
              display: flex;
              align-items: center;
              justify-content: center;
              border-radius: 1rem 1rem 0 0;
              height: min-content;
              padding: 1rem;
            }
          }
        }
      }
    }
  }
}
